<div>
  <label for="{{ .Id }}">
    <input{{ if gt (len .Attributes) 0 }} {{ form_attributes .Attributes }}{{ end }}>
    {{ if .Label }}
      <span>
        {{ .Label }}{{ if .IsRequired }} *{{ end }}
      </span>
    {{ end }}
  </label>
  {{ .RenderError }}
  {{ .RenderHint }}
</div>