<div>
  {{ if .Options }}
    {{ $id := .Id }}
    {{ $name := .Name }}
    {{ $attributes := .Attributes }}
    {{ range $index, $element := .Options }}
    <label for="{{ $id }}-{{ $index }}">
      <input type="radio" id="{{ $id }}-{{ $index }}" name="{{ $name }}" value="{{ $element.Value }}" />
      <span>
        {{ $element.Label }}
      </span>
    </label>
    {{ end }}
  {{ else }}
  <label for="{{ .Id }}">
    <input {{ attributes .Attributes }} />
    {{ if .Label }}
      <span>
        {{ .Label }}{{ if .IsRequired }} *{{ end }}
      </span>
    {{ end }}
  </label>
  {{ end }}
  {{ .RenderError }}
</div>
