{{ $value := .Value }}
<div>
  {{ if .Label }}
  <label for="{{ .Id }}">
    {{ .Label }}{{ if .IsRequired }} *{{ end }}
  </label>
  {{ end }}
  <div>
    <select{{ if gt (len .Attributes) 0 }} {{ form_attributes .Attributes }}{{ end }}>
      {{ range .Options }}
      <option value="{{ .Value }}" {{ if eq .Value $value }}selected{{ end }}>
        {{ .Label }}
      </option>
      {{ end }}
    </select>
    {{ .RenderError }}
    {{ .RenderHint }}
  </div>
</div>
