<div>
  {{ if .Label }}
  <label for="{{ .Id }}">
    {{ .Label }}{{ if .IsRequired }} *{{ end }}
  </label>
  {{ end }}
  <div>
    <textarea{{ if gt (len .Attributes) 0 }} {{ form_attributes .Attributes }}{{ end }}>
      {{ .Value }}
    </textarea>
    {{ .RenderError }}
    {{ .RenderHint }}
  </div>
</div>
